<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular Exercise Homework</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>

</head>
<body ng-controller="myController">

	<div id="container">
		<div id="inputs" style="float: left;">
			<input type="text" ng-model="name" placeholder="Country" ng-blur="addToArray()" value="">
			<input type="text" ng-model="population" placeholder="Population" ng-blur="addToArray()" value="">
			<input type="text" ng-model="leader" placeholder="Leader" ng-blur="addToArray()" value="">
			<input type="text" ng-model="flagColors" placeholder="Flag Colors" ng-blur="addToArray()" value="">
		</div>
		
		<input type="text" ng-model="sortInput">

		<div id="table-wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><a href="" ng-click="sortField='name'; reverse = !reverse">Country</a></th>
						<th><a href="" ng-click="sortField='population'; reverse = !reverse">Population</a></th>
						<th><a href="" ng-click="sortField='leader'; reverse = !reverse">Leader</a></th>
						<th><a href="" ng-click="sortField='flagColors'; reverse = !reverse">Flag Colors</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="country in countries | filter:sortInput | orderBy:sortField:reverse track by $index">
						<td>{{country.name}}</td>
						<td>{{country.population}}</td>
						<td>{{country.leader}}</td>
						<td>{{country.flagColors}}</td>				
					</tr>
				</tbody>	
			</table>		
		</div>
	</div>
</body>
</html>